.hero-footer {
    padding: 1rem 1.5rem 1rem !important;
}

.navbar-item:hover {
    background-color: transparent !important;
}

.navbar.is-black .navbar-start > .navbar-item, .navbar.is-black .navbar-start .navbar-link, .navbar.is-black .navbar-end > .navbar-item, .navbar.is-black .navbar-end .navbar-link {
    color: hsl(217, 71%, 53%);
}
